{{>navbar}}

<div class="container">
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <center>
        <a href="/" class="btn btn-primary mb-3">Ismni qaytadan yozish</a>
        <img src="/export/image.jpg" class="img-fluid" alt="Ramazon Muborak">

        <a href="/export/image.jpg" class="btn btn-success mt-3 mb-5" download>Yuklab olish</a>
      </center>
    </div>
  </div>
</div>